<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDBagJ2u0v2FTKTCiP_kesGxFJ2ph3aWbI</string>
	<key>GCM_SENDER_ID</key>
	<string>868791282676</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.isimmApp2</string>
	<key>PROJECT_ID</key>
	<string>fir-isimmapp</string>
	<key>STORAGE_BUCKET</key>
	<string>fir-isimmapp.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:868791282676:ios:775c3ed13bb62139a267a1</string>
</dict>
</plist>